@media (max-width: 1110px) {
    section.main .main_title {
        font-size: 72px;
    }

    section.main .main_title span:nth-child(2) {
        padding: 16px;
    }
}

@media (max-width: 1024px) {
    section.main .main_title {
        font-size: 62px;
        line-height: 56px;
    }

    section.main .main_title span:nth-child(2) {
        padding: 14px;
        width: 189px;
    }

    section.main .main_info {
        margin: 0 auto;
        align-items: baseline;
    }

    section.main .main_info .main_info-descr {
        gap: 20px;
    }

    section.main .main_info .main_info-descr .main_info-text:first-child {
        max-width: 230px;
    }

    section.main .main_info .main_info-descr .main_info-text:last-child {
        max-width: 340px;
    }
}

@media (max-width: 640px) {
    section.main .main_title {
        font-size: 37px;
        line-height: 38px;
    }

    section.main .main_title span:nth-child(2) {
        padding: 10px;
        border: 5px solid white;
        width: 115px;
    }

    section.main .main_info {
        margin: 0 auto;
        align-items: baseline;
    }

    section.main .main_info .main_info-descr .main_info-text:first-child {
        max-width: 290px;
    }

    section.main .main_info .main_info-descr .main_info-text:last-child {
        max-width: 280px;
    }
}