@media (max-width: 1500px) {
    section.traffic_patrol .traffic_patrol-wrapper img {
        width: 500px;
    }
}

@media (max-width: 1410px) {
    section.main .main_title {
        font-size: 7.2rem;
    }

    section.main .main_title span.large_letter {
        padding: 16px;
        max-width: 300px;
    }
}

@media (max-width: 1340px) {
    section.situation_centre .situation_centre_grid-wrapper .major_events-3 .major_events-text,
    section.situation_centre .situation_centre_grid-wrapper .man_text-7 .man_text-text {
        font-size: 1.5rem;
        line-height: 18px;
    }
}

@media (max-width: 1300px) {
    section.main .main_title {
        font-size: 6.2rem;
    }

    section.main .main_title span.large_letter {
        padding: 12px;
        max-width: 194px;
    }

    section.main .main_info-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    section.main .main_info {
        display: flex;
        flex-direction: column;
        justify-self: self-start;
        align-items: center;
        grid-column: 2/4;
    }

    section.traffic_patrol .traffic_patrol-wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    section.traffic_patrol .traffic_patrol-wrapper img {
        width: auto;
    }

    .title, section.traffic_patrol .traffic_patrol-title {
        grid-column: 1/2;
        font-size: 2.9rem;
    }

    section.traffic_patrol .traffic_patrol-descr {
        grid-column: 2/5;
    }

    /*section.traffic_patrol .traffic_patrol_slider {*/
    /*    grid-template-columns: repeat(4, 1fr);*/
    /*}*/

    section.traffic_patrol .traffic_patrol_slider-wrapper {
        grid-column: 2/4;
    }

    .traffic_patrol-card, section.traffic_patrol .traffic_patrol_slider .traffic_patrol-card.slid {
        /*grid-column: 2/4;*/
        max-width: 540px;
    }
}

@media (max-width: 1100px) {
    section.situation_centre .situation_centre_grid-wrapper .major_events-3 .major_events-text {
        font-size: 1.4rem;
        line-height: 17px;
    }
}

@media (max-width: 1024px) {
    section.main .main_title {
        font-size: 4.6rem;
        line-height: 46px;
    }

    section.main .main_title span.large_letter {
        padding: 10px;
        border: 8px solid white;
        width: 174px;
    }

    section.main .main_info {
        grid-column: 2/5;
        align-items: baseline;
    }

    section.main .main_info .main_info-descr {
        gap: 20px;
    }

    section.main .main_info .main_info-descr .main_info-text:first-child {
        max-width: 230px;
    }

    section.main .main_info .main_info-descr .main_info-text:last-child {
        max-width: 340px;
    }




    section.traffic_patrol .traffic_patrol_grid-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 168px 168px 280px;
        grid-auto-columns: 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
        "traffic_patrol-1 traffic_patrol-text-2 traffic_patrol-text-3 traffic_patrol-text-3"
        ". traffic_patrol-text-4 traffic_patrol-text-5 traffic_patrol-text-5"
        ". traffic_patrol-slide-6 . .";
    }





    .title, section.traffic_patrol .traffic_patrol-title {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 24px;
    }

    section.traffic_patrol .traffic_patrol-descr.two .traffic_patrol-text:nth-child(2) {
        grid-column: 2/4;
    }

    section.traffic_patrol .traffic_patrol-wrapper {
        grid-template-rows: 1fr 1fr 280px
    }

    section.traffic_patrol .traffic_patrol_slider-wrapper {
        grid-column: 2/3;
    }

    .traffic_patrol-card, section.traffic_patrol .traffic_patrol_slider {
        width: 100%;
        height: 100%;
    }

    .traffic_patrol-card .slid_img, section.traffic_patrol .traffic_patrol_slider .traffic_patrol-card.slid .slid_img {
        background: #090909 url("../../img/layout/pages/main/slider/amarok_slide_mini.png") no-repeat top center/cover;
    }

    .traffic_patrol-card .slid_info, section.traffic_patrol .traffic_patrol_slider .traffic_patrol-card.slid .slid_info {
        padding: 10px 20px;
    }

    .traffic_patrol-card .slid_info .slid_info-desc .slid_info-title, section.traffic_patrol .traffic_patrol_slider .traffic_patrol-card.slid .slid_info .slid_info-desc .slid_info-title {
        font-size: 1.6rem;
        line-height: 19px;
        margin-bottom: 4px;
    }

    .traffic_patrol-card .slid_info .slid_info-desc .slid_info-text, section.traffic_patrol .traffic_patrol_slider .traffic_patrol-card.slid .slid_info .slid_info-desc .slid_info-text {
        font-size: 1.2rem;
        line-height: 14px;
    }

    .traffic_patrol-card .slid_info .slid_info-link svg, section.traffic_patrol .traffic_patrol_slider .traffic_patrol-card.slid .slid_info .slid_info-link svg {
        width: 28px;
        height: 28px;
    }

    section.situation_centre .situation_centre_grid-wrapper {
        display: grid;
        grid-template-columns: 236px 236px 1fr 1fr;
        grid-template-rows: 1fr 236px 284px;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
        "situation-1 brain_heart-2 brain_heart-2 brain_heart-2"
        "major_events-3 employ-4 slider-5 slider-5"
        "bus-6 man_text-7 slider-5 slider-5";
    }

    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 {
        padding: 20px 140px 20px 20px;
    }

    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 .brain_heart-title {
        font-size: 1.8rem;
        line-height: 24px;
    }

    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 img {
        width: 254px;
        height: 224px;
        right: -86px;
        top: 128px;
    }

    section.situation_centre .situation_centre_grid-wrapper .slider-5 .traffic_patrol-card .slid_img {
        background: #090909 url(../../img/layout/pages/main/slider/amarok_prevue_big.png) no-repeat top center/cover;
        height: 100%;
    }

    section.situation_centre .situation_centre_grid-wrapper .major_events-3 .major_events-text {
        line-height: 24px;
    }

    section.situation_centre .situation_centre_grid-wrapper .man_text-7 .man_text-text {
        line-height: 26px;
    }

    section.help_desk .help_desk_grid-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 293px 284px 120px 1fr;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
        "help_desk-1 slide-5 parkon-2 parkon-2"
        ". slide-6 equipment-4 equipment-4"
        ". driver-3 equipment-4 equipment-4"
        ". . equipment-4 equipment-4";
    }

    section.help_desk .help_desk_grid-wrapper .equipment-4 {
        grid-area: equipment-4;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 29px 151px 151px 151px 151px;
        gap: 10px;
        grid-auto-flow: row;
        grid-template-areas:
        "text text text"
        "skill-1 skill-2 skill-3"
        "skill-10 skill-5 skill-6"
        "skill-7 skill-8 skill-9"
        ". . skill-4";
    }

    section.help_desk .help_desk-title {
        font-size: 2.3rem;
    }

    section.help_desk .help_desk_grid-wrapper .parkon-2 .parkon_title {
        font-size: 1.8rem;
        line-height: 24px;
        margin-bottom: 30px;
        max-width: 336px;
    }

    section.help_desk .help_desk_grid-wrapper .parkon-2 .parkon_descr {
        flex-direction: column;
    }

    section.help_desk .help_desk_grid-wrapper .parkon-2 .parkon_descr .parkon_text:first-child {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {
    section.main .main_title {
        font-size: 3.6rem;
        line-height: 36px;
    }

    section.main .main_title span.large_letter {
        padding: 8px;
        border: 5px solid white;
        width: 142px;
    }

    .title, section.traffic_patrol .traffic_patrol-title {
        font-size: 2.1rem;
        line-height: 22px;
    }

    section.main .main_info-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    section.traffic_patrol .traffic_patrol-wrapper img {
        width: 180px;
    }

    section.traffic_patrol .traffic_patrol-wrapper {
        grid-template-columns: repeat(3, 1fr);
    }

    section.traffic_patrol .traffic_patrol-descr {
        /*height: 700px;*/
        gap: 12px;
        grid-column-start: 2;
        grid-template-columns: repeat(2, 1fr);
    }

    section.traffic_patrol .traffic_patrol-wrapper img {
        width: 210px;
    }

    section.traffic_patrol .traffic_patrol_slider {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    section.traffic_patrol .traffic_patrol_grid-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 48px 144px 64px 336px 264px;
        grid-auto-columns: 1fr;
        gap: 40px 40px;
        grid-auto-flow: row;
        grid-template-areas:
        "traffic_patrol-1 ."
        "traffic_patrol-text-2 traffic_patrol-text-4"
        ". ."
        "traffic_patrol-slide-6 ."
        "traffic_patrol-text-3 traffic_patrol-text-5";
    }



    section.situation_centre .container_main {
        padding: 0 0 100px 0;
    }

    section.situation_centre .situation_centre_grid-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 72px 260px 192px 192px 290px;
        gap: 20px 20px;
        grid-auto-flow: row;
        grid-template-areas:
        "situation-1 ."
        "brain_heart-2 brain_heart-2"
        "slider-5 man_plus_major_events-8"
        "slider-5 man_plus_major_events-8"
        "employ-4 bus-6";
    }

    section.situation_centre .situation_centre_grid-wrapper .man_text-7,
    section.situation_centre .situation_centre_grid-wrapper .major_events-3 {
        display: none;
    }

    section.situation_centre .situation_centre_grid-wrapper .situation-1 .situation_centre-title {
        max-width: 231px;
        font-size: 2.4rem;
        line-height: 24px;
    }

    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 {
        padding: 20px 94px 20px 20px;
    }

    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 .brain_heart-title {
        margin-bottom: 30px;
    }

    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 img {
        right: -28px;
    }

    section.situation_centre .situation_centre_grid-wrapper .man_text-7 .man_text-text {
        line-height: 21px;
    }

    section.situation_centre .situation_centre_grid-wrapper .man_plus_major_events-8 {
        display: block;
        padding: 20px;
    }

    section.situation_centre .situation_centre_grid-wrapper .man_plus_major_events-8 .man_plus_major_events-text {
        font-size: 1.6rem;
        line-height: 28px;
    }
}

@media (max-width: 764px) {
    section.situation_centre .situation_centre_grid-wrapper .man_plus_major_events-8 {
        padding: 10px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }

    section.situation_centre .situation_centre_grid-wrapper .man_plus_major_events-8 .man_plus_major_events-text {
        font-size: 1.6rem;
        line-height: 26px;
    }
}

@media (max-width: 640px) {
    section.main .main_title {
        font-size: 3rem;
        line-height: 30px;
    }

    section.main .main_title span.large_letter {
        width: 86px;
        padding: 6px;
    }

    section.main .main_bg {
        background-position: left;
    }

    section.main .main_info-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    section.main .main_info {
        grid-column: 1/3;
        align-items: center;
    }

    section.main .main_info .main_info-link {
        max-width: none;
    }

    section.main .main_info .main_info-descr .main_info-text:first-child {
        max-width: 290px;
    }

    section.main .main_info .main_info-descr .main_info-text:last-child {
        max-width: 280px;
    }

    section.traffic_patrol .traffic_patrol-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    section.traffic_patrol .traffic_patrol-wrapper img {
        width: 308px;
        left: unset;
        top: unset;
        right: 0;
        bottom: 1px;
        transform: scale(-1, 1);
    }

    .title, section.traffic_patrol .traffic_patrol-title {
        font-size: 2.5rem;
        line-height: 25px;
    }

    section.traffic_patrol .traffic_patrol-descr {
        grid-column-start: 1;
    }

    section.traffic_patrol .traffic_patrol-descr.two {
        order: 1;
        margin: 0;
    }

    section.traffic_patrol .traffic_patrol_slider-wrapper {
        grid-column: 1/3;
        margin: 0 auto;
    }

    section.traffic_patrol .traffic_patrol_slider {
        grid-template-columns: repeat(2, 1fr);
    }

    .traffic_patrol-card, section.traffic_patrol .traffic_patrol_slider .traffic_patrol-card.slid {
        height: 336px;
        grid-column: 1/2;
        max-width: none;
    }

    .traffic_patrol-card .slid_info .slid_info-desc .slid_info-title, section.traffic_patrol .traffic_patrol_slider .traffic_patrol-card.slid .slid_info .slid_info-desc .slid_info-title{
        font-size: 1.7rem;
        max-width: 206px;
    }

    .traffic_patrol-card .slid_info .slid_info-desc .slid_info-text, section.traffic_patrol .traffic_patrol_slider .traffic_patrol-card.slid .slid_info .slid_info-desc .slid_info-text {
        max-width: 136px;
    }
}

@media (max-width: 636px) {
    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 {
        padding: 20px;
    }

    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 .brain_heart-title {
        margin-bottom: 20px;
    }

    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 .brain_heart-text {
        font-size: 1.4rem;
        line-height: 22px;
    }

    section.situation_centre .situation_centre_grid-wrapper .man_text-7 .man_text-text,
    section.situation_centre .situation_centre_grid-wrapper .major_events-3 .major_events-text {
        font-size: 1.5rem;
        line-height: 21px;
    }
}

@media (max-width: 584px) {
    section.situation_centre .situation_centre_grid-wrapper .man_plus_major_events-8 .man_plus_major_events-text {
        font-size: 1.4rem;
        line-height: 22px;
    }
}

@media (max-width: 552px) {
    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 .brain_heart-title {
        font-size: 1.6rem;
        line-height: 21px;
    }

    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 .brain_heart-text {
        line-height: 21px;
    }
}

@media (max-width: 534px) {
    section.main {
        padding-bottom: 100px;
    }

    section.main .main_title {
        font-size: 3.6rem;
        line-height: 36px;
        text-align: start;
    }

    section.main .main_title span:nth-child(1), section.main .main_title span:nth-child(2) {
        text-align: inherit;
        width: auto;
    }

    section.main .main_title span.large_letter {
        width: 96px;
        padding: 9px;
    }

    section.main .main_info .main_info-descr .main_info-text:first-child,
    section.main .main_info .main_info-descr .main_info-text:last-child {
        max-width: 50%;
    }
}

@media (max-width: 492px) {
    section.main .main_bg {
        background-position: center;
    }

    section.traffic_patrol .container_main {
        padding-bottom: 90px;
    }

    section.traffic_patrol .traffic_patrol-wrapper {
        grid-template-columns: 1fr;
    }

    .title, section.traffic_patrol .traffic_patrol-title {
        font-size: 2.4rem;
        line-height: 24px;
        max-width: 246px;
        margin-bottom: 40px;
    }

    section.traffic_patrol .traffic_patrol-wrapper img {
        width: 308px;
        left: 182px;
        top: 54px;
        right: unset;
        bottom: unset;
        z-index: -1;
    }

    section.traffic_patrol .traffic_patrol-descr {
        display: block;
    }

    section.traffic_patrol .traffic_patrol-text {
        font-size: 1.4rem;
        line-height: 21px;
        /*margin-bottom: 20px;*/
    }

    section.traffic_patrol .traffic_patrol-descr .traffic_patrol-text:first-child {
        margin-bottom: 20px;
    }

    section.traffic_patrol .traffic_patrol_slider-wrapper {
        grid-column-start: 1;
    }

    section.situation_centre .situation_centre_grid-wrapper .man_plus_major_events-8 .man_plus_major_events-text {
        font-size: 1.2rem;
        line-height: 18px;
    }
}

@media (max-width: 440px) {
    section.main .main_bg {
        padding: 0;
    }

    section.main .main_title {
        /*margin-bottom: 128px;*/
        margin-bottom: 24px;
    }

    section.main .main_info-wrapper {
        position: absolute;
        bottom: 24px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        padding: 0 20px;
    }

    section.main .main_info .main_info-descr {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    section.main .main_info .main_info-descr .main_info-text:first-child,
    section.main .main_info .main_info-descr .main_info-text:last-child {
        max-width: 100%;
    }


    section.traffic_patrol .traffic_patrol_grid-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 58px 199px 360px 241px;
        grid-auto-columns: 1fr;
        gap: 40px 40px;
        grid-auto-flow: row;
        grid-template-areas:
        "traffic_patrol-1"
        "traffic_patrol-text-mobile-1"
        "traffic_patrol-slide-6"
        "traffic_patrol-text-mobile-2";
    }

    section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-text-mobile-1,
    section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-text-mobile-2 {
        display: block;
    }

    section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-text-2,
    section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-text-3,
    section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-text-4,
    section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-text-5 {
        display: none;
    }

    section.traffic_patrol .traffic_patrol-text-mobile-1 .traffic_patrol-text:first-child,
    section.traffic_patrol .traffic_patrol-text-mobile-2 .traffic_patrol-text:first-child {
        margin-bottom: 14px;
    }



    section.situation_centre .situation_centre_grid-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 87px 333px 320px 360px;
        gap: 40px 40px;
        grid-auto-flow: row;
        grid-template-areas:
        "situation-1"
        "brain_heart-2"
        "employ-4"
        "slider-5"
    }

    section.situation_centre .situation_centre_grid-wrapper .major_events-3,
    section.situation_centre .situation_centre_grid-wrapper .bus-6,
    section.situation_centre .situation_centre_grid-wrapper .man_text-7,
    section.situation_centre .situation_centre_grid-wrapper .man_plus_major_events-8 {
        display: none;
    }

    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 {
        padding: 20px 30px 20px 20px;
    }

    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 img {
        width: 147px;
        height: 130px;
        right: -28px;
        top: 244px;
    }
}

@media (max-width: 400px) {
    section.main .main_title {
        font-size: 2.8rem;
        line-height: 28px;
    }

    section.main .main_title span.large_letter {
        width: 64px;
        padding: 6px;
    }

    section.main .main_info .main_info-link {
        padding-top: 17px;
        border: 4px solid white;
    }
}

@media (max-width: 360px) {
    section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 {
        padding: 10px;
    }
}

























