.header_main .ARphotoForm {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 8px 22px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 40px;
    border-radius: 100px;
    background: linear-gradient(97deg, #63CB47 2.56%, #408B2A 86.88%);
}

.header_main .ARphotoForm .ARphotoForm_img {
    margin-right: 4px;
}

.header_main .ARphotoForm .ARphotoForm-text {
    color: #FFF;
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
}

.form-wrapper {
    display: flex;
    visibility: hidden;
    pointer-events: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 0 20px;
}

.form-wrapper.active {
    pointer-events: all;
}

.form-wrapper .form-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0;
    grid-auto-flow: row;
    grid-template-areas:
        "form_send vectary_phone";
	position: relative;
    border-radius: 60px;
    background-color: #090909;
    overflow: hidden;
    transform: scale(0);
}

.form-wrapper.active .form-content {
    transition: all .5s ease;
    transform: scale(1);
}


.form-wrapper .container_main {
    border: none;
}

.form-wrapper .form-content:before,
.form-wrapper .form-content:after {
    content: ' ';
    position: absolute;
    opacity: 0.3;
    z-index: -1;
}

.form-wrapper .form-content:before {
    width: 1000px;
    height: 1000px;
    bottom: -500px;
    left: 40%;
    transform: translateX(-50%);
    border-radius: 100%;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #2BFC7F 0%, rgba(9, 9, 9, 0.00) 100%);
}

.form-wrapper .form-content:after {
    width: 500px;
    height: 500px;
    right: 0;
    top: 0;
    background: linear-gradient(to bottom left, #FC762B 0%, rgba(9, 9, 9, 0.00) 50%);
}

.form-wrapper .form_close {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 14px;
    border-radius: 10px;
    background: rgba(10, 10, 10, 0.80);
    backdrop-filter: blur(2.5px);
    cursor: pointer;
    z-index: 2;
}

.form-wrapper .form-content .form_send {
    grid-area: form_send;
    padding: 60px 0 60px 60px;
    height: fit-content;
}

.vectary_phone {
    position: relative;
    grid-area: vectary_phone;
}

.vectary_phone iframe {
    visibility: hidden;
}

.vectary_phone .vectary_phone-load {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 60px 60px 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vectary_phone .vectary_phone-load .phone-load {
    height: 100%;
}

.contact-form {
    width: 100%;
    height: 100%;
    max-width: 450px;
    position: relative;
}

.contact-form__title {
    font-family: 'MoscowSans', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.contact-form__text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    line-height: 24px;
    width: 100%;
    color: #ffffff;
    margin-bottom: 40px;
}

.contact-form__text .contact-form__text-list {
    margin: 5px 0 10px 0;
}

.contact-form__text .contact-form__text-list .contact-form__text-item {
    display: flex;
}

.contact-form__text .contact-form__text-list .contact-form__text-item:not(:last-child) {
    margin-bottom: 4px;
}

.contact-form__text .contact-form__text-list .contact-form__text-item span {
    margin-right: 5px;
}

.random-link {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    line-height: 24px;
    color: #62A744;
}

.random-link:hover {
    text-decoration: none;
}


.visible_if_send {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 130px;
    font-family: 'MoscowSans', sans-serif;
    font-size: 2.2rem;
    color: white;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid green;
    background-color: rgba(134, 134, 134, 0.10);
}

.visible_if_send .visible_if_send_img {
    margin-right: 8px;
}

.visible_if_send.red {
    border-color: red;
}


.contact-form__message {
    text-align: center;
}

.contact-form__input-wrapper.telegram {
    position: relative;
}

.contact-form__input_telegram {
    height: 50px;
    border: 1px solid #CDCDCD;
    background-color: rgba(134, 134, 134, 0.10);
    border-radius: 10px;
    width: 100%;
    padding: 8px 12px;
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    transition: 0.3s;
}

.contact-form__input_telegram.initial-padding {
    padding: 16px 38px 0 12px;
}

.contact-form__input_telegram:focus {
    transition: 0.3s;
    border: 1px solid rgba(255, 241, 198, 0.2);
}

.telegram-custom-placeholder {
    visibility: hidden;
    position: absolute;
    top: 8px;
    left: 14px;
    color: #878787;
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.telegram-custom-close {
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    cursor: pointer;
}

.contact-form__input_file {
    display: none;
}

.contact-form__input-wrapper.file {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.preview_photos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form__file-button {
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.contact-form__file-button .close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all .8s ease;
}

.contact-form__file-button.no_file {
    border-color: red;
}

.contact-form__file-button.no_file .close {
	transform: translate(-50%, -50%) rotate(45deg);
}

.contact-form__file-button.tooManyFiles {
    display: none;
  }
  
  .contact-form__file-button.tooManyFiles .close {
    display: flex;
  }

.preview_photo {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.contact-form__input_preview {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    object-fit: cover;
}

.contact-form__input_preview svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact-form__input_preview svg path,
.contact-form__input_preview svg rect {
    fill: #ffffff;
}

.contact-form__button_svg svg path,
.contact-form__button_svg svg rect {
    fill: #000000;
}

.contact-form__input_delete {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    cursor: pointer;
}

.contact-form__input_gradient {
    position: absolute;
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 0 0;
    top: 0;
    background: linear-gradient(180deg, #090909 0%, rgba(9, 9, 9, 0.00) 100%);
}

.contact-form_file_info {
    margin-bottom: 20px;
    margin: auto 0 auto auto;
    text-align: end;
    visibility: hidden;
}

.contact-form_file_info .contact-form_file_text,
.contact-form_file_info .contact-form_file_count {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: 400;
    color: white;
    opacity: 0.5;
}

.contact-form__privacy {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact-form__privacy-text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.4rem;
    line-height: 21px;
    color: white;
}

.contact-form__privacy-text a {
    color: white;
}

.contact-form__privacy-text a:hover {
    text-decoration: none;
}

.real-checkbox {
    position: absolute;
    opacity: 0;
    left: 5px;
    bottom: 10px;
}

.custom-checkbox {
    position: relative;
    display: block;
    min-width: 32px;
    height: 32px;
    margin-right: 8px;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
}

.custom-checkbox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 22px;
    height: 22px;
    background: url('../../img/layout/pages/main/competition/check.svg') no-repeat center/cover;
    transition: all .2s ease-in;
}

.real-checkbox:checked + .custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

.contact-form__button {
    background: #ffffff;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    border: none;
    margin-top: 40px;
    font-family: 'MoscowSans', sans-serif;
    font-size: 2rem;
    line-height: 22px;
    color: black;
    transition: 0.3s;
    cursor: pointer;
    width: max-content;
}

.contact-form__button:hover {
    transition: 0.3s;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.contact-form__button .contact-form__button-img,
.contact-form__button_svg {
    margin-right: 8px;
}

.preloader {
    position: relative;
    margin: 0 0 0 45%;
    height: 15px;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.3s;
}

.preloader_active {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.preloader:before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    content: "";
    position: absolute;
    background: #393e46;
    animation: preloader_before 1.8s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.preloader:after {
    width: 12px;
    height: 12px;
    left: 15%;
    border-radius: 50%;
    content: "";
    position: absolute;
    background: #5f646c;
    animation: preloader_after 1.8s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes preloader_before {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    50% {
        transform: translateX(160px) scale(1.5) rotate(264deg);
        background: #00adb5;
        border-radius: 0;
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes preloader_after {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    50% {
        transform: translateX(-160px) scale(1.5) rotate(-264deg);
        background: #00fff5;
        border-radius: 0;
    }

    100% {
        transform: translateX(0px);
    }
}

@media (min-width: 2500px) {
    .contact-form {
        max-width: 600px;
    }

    .preview_photo,
    .contact-form__input_preview,
    .contact-form__file-button {
        width: 80px;
        height: 80px;
    }

    .contact-form__title {
        font-size: 4rem;
    }

    .contact-form_file_info .contact-form_file_text, 
    .contact-form_file_info .contact-form_file_count,
    .contact-form__text {
        font-size: 1.8rem;
    }

    .contact-form__privacy-text {
        font-size: 1.6rem;
    }

    .vectary_phone {
        padding: 40px 40px 40px 0;
    }

    .visible_if_send {
        font-size: 2.4rem;
    }
}

@media (max-width: 1024px) {
    .form-wrapper .form-content .form_send {
        padding: 40px 0 40px 40px;
    }

    .vectary_phone .vectary_phone-load {
        padding: 40px 40px 40px 0;
    }
}

@media (max-width: 850px) {
    .form-wrapper {
        align-items: flex-end;
    }

    .form-wrapper .form-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "form_send";
        border-radius: 50px 50px 0px 0px;
        transition: all .5s ease;
        transform: translateY(100%);
    }

    .form-wrapper.active .form-content {
        transform: translateY(0);
    }

    .form-wrapper .form-content .form_send {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px;
    }

    .contact-form {
        max-width: 540px;
    }
    
    .form-wrapper .form-content .vectary_phone { 
        display: none;
    }
}

@media (max-width: 768px) {
    .header_main .ARphotoForm {
        padding: 8px 16px;
        margin-right: 30px;
    }

    .header_main .ARphotoForm .ARphotoForm-text {
        font-size: 1.4rem;
        line-height: 21px;
    }

    .contact-form__button {
        margin-top: 50px;
    }
}

@media (max-width: 440px) {
    .header_main .ARphotoForm {
        padding: 8px 12px;
        margin-right: 20px;
    }

    .form-wrapper {
        padding: 0;
    }

    .form-wrapper .form_close  {
        top: 20px;
        right: 20px;
    }

    .form-wrapper .form-content .form_send {
        padding: 40px 20px;
        height: fit-content;
    }

    .contact-form__text {
        font-size: 1.4rem;
        line-height: 21px;
    }

    .contact-form__button {
        width: 100%;
    }
}

@media (max-width: 380px) {
    .header_main .ARphotoForm {
        margin-right: 10px;
    }

    .form-wrapper .form_close {
        padding: 8px;
    }
}

@media (max-height: 730px) {
    .contact-form__text {
        margin-bottom: 28px;
    }

    .contact-form__input-wrapper.file {
        margin: 18px 0;
    }

    .contact-form__privacy-text {
        line-height: 18px;
    }

    .contact-form__button {
        margin-top: 28px;
    }
}

@media (max-height: 730px) and (orientation: portrait) {
	.form-wrapper .form-content {
		max-height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
	}

    .form-wrapper .form-content:before {
        width: 650px;
        height: 650px;
        bottom: 0;
        left: 0;
    }
}

@media (max-height: 680px) and (orientation: portrait) {
    .form-wrapper .form-content .form_send {
        padding: 30px 20px;
    }
    
    .contact-form__title {
        font-size: 3rem;
        line-height: 30px;
        margin-bottom: 18px;
    }
    
    .contact-form__text {
        margin-bottom: 18px;
    }
    
    .contact-form__input-wrapper.file {
        margin: 18px 0;
    }
    
    .contact-form__privacy-text {
        line-height: 15px;
    }
    
    .contact-form__button {
        margin-top: 18px;
    }
}

@media (max-height: 570px) and (orientation: portrait) {
    .form-wrapper .form-content {
        border-radius: 0;
    }
    
    .form-wrapper .form_close {
        padding: 6px;
        top: 30px;
        right: 10px;
    }
    
    .form-wrapper .form-content .form_send {
        padding: 40px 10px 30px 10px;
    }
    
    .contact-form__title {
        font-size: 2.8rem;
        line-height: 28px;
        margin-bottom: 12px;
    }
    
    .contact-form__text {
        margin-bottom: 12px;
    }
    
    .contact-form__input-wrapper.file {
        margin: 12px 0;
    }
    
    .contact-form__privacy-text {
        font-size: 1.2rem;
        line-height: 13px;
    }
    
    .contact-form__button {
        margin-top: 16px;
    }
}

@media (max-height: 432px) and (orientation: landscape) {
	.form-wrapper .form-content {
		max-height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
	}

    .form-wrapper .form-content:before {
        width: 650px;
        height: 650px;
        bottom: -248px;
        left: 10%;
    }
}