.competition {
    padding: 120px 0 0 0;
}

.competition .competition_wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0;
    grid-auto-flow: row;
    grid-template-areas:
        "competition_info competition_media";
    border-radius: 60px;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(6px);
    width: 100%;
}

.competition .competition_wrapper .competition_info {
    grid-area: competition_info;
    padding: 60px 0 150px 60px;
}

.competition .competition_wrapper .competition_media { 
	grid-area: competition_media; 
}

.competition .competition_merch-img {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.competition .competition_info .competition_title,
.competition .competition_info .competition_descr {
    max-width: 645px;
}

.competition .competition_info .competition_title {
    color: #FFF;
    font-family: 'MoscowSans', sans-serif;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 56px;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.competition .competition_info .competition_descr {
    color: #FFF;
    font-family: 'MoscowSans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 60px;
}

.competition .form_open_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 24px;
    border-radius: 35px;
    background: #FFF;
	cursor: pointer;
    text-align: center;
}

.competition .form_open_button .form_open_img {
    margin-right: 8px;
}

.competition .form_open_button .form_open_btn {
    font-family: 'MoscowSans', sans-serif;
    font-size: 2rem;
    font-weight: 500;
    line-height: 22px;
    color: #333;
    text-decoration: none;
}







.form-wrapper {
    display: flex;
    visibility: hidden;
    pointer-events: none;

    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
    overflow: auto;
}


.form-wrapper.active {
    visibility: visible;
    pointer-events: all;
}

.form-wrapper .form-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0;
    grid-auto-flow: row;
    grid-template-areas:
        "form_send swiper-images";
	position: relative;
    border-radius: 60px;
    background-color: #090909;
    overflow: hidden;
    transform: scale(0);
}

.form-wrapper.active .form-content {
    transition: all .5s ease;
    transform: scale(1);
}











.form-wrapper .container_main {
    border: none;
}

.form-wrapper .form-content:before {
    content: ' ';
    position: absolute;
    width: 1000px;
    height: 1000px;
    pointer-events: none;
    top: unset;
    bottom: -500px;
    left: 40%;
    transform: translateX(-50%);
    border-radius: 100%;
    opacity: 0.3;
    background: radial-gradient(50% 50.00% at 50% 50.00%, #2BFC7F 0%, rgba(9, 9, 9, 0.00) 100%);
    transition: top 4s ease, right 4s ease, bottom 4s ease, left 4s ease; /* Добавляем анимацию перемещения через свойства top и right */
}

.form-wrapper .form_close {
    position: absolute;
    top: 30px;
    right: 30px;
    padding: 14px;
    border-radius: 10px;
    background: rgba(10, 10, 10, 0.80);
    backdrop-filter: blur(2.5px);
    cursor: pointer;
    z-index: 2;
}

.form-wrapper .form-content .form_send {
    grid-area: form_send;
    padding: 60px 0 60px 60px;
    height: 700px;
    width: max-content;
}

.form-wrapper .form-content .swiper-images { 
	grid-area: swiper-images; 
    overflow: hidden;
    height: 700px;
}

.swiper-images .ticker {
    transform: rotate(90deg);
}

.swiper-images .ticker .flex {
    display: flex;
}

.swiper-images .ticker .w-64 {
    width: 216px;
    height:64px;
}

.swiper-images .ticker .mx-4 {
    margin-left: 8px;
    margin-right: 8px;
}

.swiper-images .ticker .flex-none {
    flex: none;
}

.swiper-images .ticker .self-start {
    align-self: flex-start;
}

.swiper-images .ticker .img-ticker {
    /* animation: ticker-kf 13s linear infinite; */
    animation: ticker-kf 20s linear infinite;
}

.swiper-images .ticker.ticker_1 {
    margin-left: 490px;
    margin-top: -120px;
}

.swiper-images .ticker.ticker_2 {
    width: 1210px;
    margin-left: -235px;
    transform: rotate(-90deg);
}

.swiper-images .ticker.ticker_3 {
    margin-right: 392px;
    margin-top: -852px;
}

.swiper-images .ticker.ticker_1 img {
    transform: rotate(-90deg);
    width: 200px;
    height: 400px;
    margin: 0 110px;
    border-radius: 20px;
}

.swiper-images .ticker.ticker_2 img {
    transform: rotate(90deg);
    width: 200px;
    height: 400px;
    margin: 0 110px;
    border-radius: 20px;
}

.swiper-images .ticker.ticker_3 img {
    transform: rotate(-90deg);
    width: 200px;
    height: 400px;
    margin: 0 110px;
    border-radius: 20px;
}

@keyframes ticker-kf {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-2088px, 0, 0);
    }
}









.contact-form {
    width: 100%;
    height: 100%;
    max-width: 400px;
    position: relative;
}

.contact-form__title {
    font-family: 'MoscowSans', sans-serif;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}

.contact-form__text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    line-height: 24px;
    width: 100%;
    color: #ffffff;
    margin-bottom: 40px;
}

.contact-form__message {
    text-align: center;
}

.contact-form__input-wrapper.telegram {
    position: relative;
}

.contact-form__input_telegram {
    height: 50px;
    border: 1px solid #CDCDCD;
    background-color: rgba(134, 134, 134, 0.10);
    border-radius: 10px;
    width: 100%;
    padding: 8px 12px;
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    color: #fff;
    transition: 0.3s;
}

.contact-form__input_telegram.initial-padding {
    padding: 16px 38px 0 12px;
}

.contact-form__input_telegram:focus {
    transition: 0.3s;
    border: 1px solid rgba(255, 241, 198, 0.2);
}

.telegram-custom-placeholder {
    visibility: hidden;
    position: absolute;
    top: 8px;
    left: 14px;
    color: #878787;
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.telegram-custom-close {
    visibility: hidden;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    cursor: pointer;
}

.contact-form__input_file {
    display: none;
}

.contact-form__input-wrapper.file {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 20px;
}

.preview_photos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form__file-button {
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid white;
    border-radius: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.contact-form__file-button .close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 32px;
  height: 32px;
  cursor: pointer;
  transition: all .8s ease;
}

.contact-form__file-button.tooManyFiles {
    display: none;
  }
  
  .contact-form__file-button.tooManyFiles .close {
    display: flex;
  }

/* .contact-form__file-button.tooManyFiles {
  pointer-events: none;
}

.contact-form__file-button.tooManyFiles .close {
  transform: rotate(45deg);
} */

/* .contact-form__file-button .close:before {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 50%;
  width: 34px;
  height: 1px;
  background: #ffffff;
}

.contact-form__file-button .close:after {
  content: "";
  position: absolute;
  top: 76%;
  bottom: 0;
  right: 0;
  left: 22%;
  width: 34px;
  height: 1px;
  background: #ffffff;
}

.contact-form__file-button .close:before {
  webkit-transform: rotate(0deg) translate(-50%, -50%);
  transform: rotate(0deg) translate(-50%, -50%);
}

.contact-form__file-button .close:after {
  webkit-transform: rotate(90deg) translate(-50%, -50%);
  transform: rotate(90deg) translate(-50%, -50%);
} */

.preview_photo {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin-right: 20px;
}

.contact-form__input_preview {
    width: 80px;
    height: 80px;
    border-radius: inherit;
    object-fit: cover;
}

.contact-form__input_delete {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1;
    cursor: pointer;
}

.contact-form__input_gradient {
    position: absolute;
    width: 100%;
    height: 30px;
    border-radius: 10px 10px 0 0;
    top: 0;
    background: linear-gradient(180deg, #090909 0%, rgba(9, 9, 9, 0.00) 100%);
}

.contact-form_file_info {
    margin-bottom: 20px;
}

.contact-form_file_info .contact-form_file_text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    line-height: 24px;
    color: white;
}

.contact-form_file_info .contact-form_file_count {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    line-height: 24px;
    color: white;
    opacity: 0.5;
}

.contact-form__privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contact-form__privacy-text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.4rem;
    line-height: 21px;
    color: white;
}

.contact-form__privacy-text a {
    text-decoration: none;
    color: white;
}

.contact-form__privacy-text a:hover {
    text-decoration: underline;
}

.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.custom-checkbox {
    position: relative;
    display: block;
    min-width: 32px;
    height: 32px;
    margin-right: 8px;
    border: 2px solid white;
    border-radius: 5px;
    background: transparent;
}

.custom-checkbox::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 22px;
    height: 22px;
    background: url('../../img/layout/pages/main/competition/check.svg') no-repeat center/cover;
    transition: all .2s ease-in;
}

.real-checkbox:checked+.custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}

/* .real-checkbox:focus + .custom-checkbox {
      transition: 0.3s;
      border: 1px solid rgba(255, 241, 198, 0.2);
    } */

.contact-form__button {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #ffffff;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    border: none;
    /* margin-top: 80px; */
    font-family: 'MoscowSans', sans-serif;
    font-size: 2rem;
    line-height: 22px;
    color: black;
    transition: 0.3s;
    cursor: pointer;
    width: max-content;
}

.contact-form__button:hover {
    transition: 0.3s;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
}

.contact-form__button .contact-form__button-img{
    margin-right: 8px;
}

.preloader {
    position: relative;
    margin: 0 0 0 45%;
    height: 15px;
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: 0.3s;
}

.preloader_active {
    display: block;
    visibility: visible;
    opacity: 1;
    transition: 0.3s;
}

.preloader:before {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    content: "";
    position: absolute;
    background: #393e46;
    animation: preloader_before 1.8s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

.preloader:after {
    width: 12px;
    height: 12px;
    left: 15%;
    border-radius: 50%;
    content: "";
    position: absolute;
    background: #5f646c;
    animation: preloader_after 1.8s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes preloader_before {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    50% {
        transform: translateX(160px) scale(1.5) rotate(264deg);
        background: #00adb5;
        border-radius: 0;
    }

    100% {
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes preloader_after {
    0% {
        transform: translateX(0px) rotate(0deg);
    }

    50% {
        transform: translateX(-160px) scale(1.5) rotate(-264deg);
        background: #00fff5;
        border-radius: 0;
    }

    100% {
        transform: translateX(0px);
    }
}

@media (min-width: 2500px) {
    .swiper-images .ticker.ticker_2 {
        margin-left: -80px;
    }
}

@media (max-width: 1024px) {
    .competition .competition_wrapper .competition_info  {
        padding: 50px 0 110px 50px;
    }

    .competition .competition_info .competition_descr {
        margin-bottom: 50px;
    }

    .competition .competition_merch-img {
        width: 595px;
    }

    .form-wrapper .form-content .form_send {
        padding: 40px 0 40px 40px;
    }
}

@media (max-width: 960px) {
    .competition .competition_merch-img {
        width: 490px;
    }
}

@media (max-width: 880px) {
    .competition .competition_merch-img {
        width: 420px;
    }
}

@media (max-width: 850px) {
    .form-wrapper .form-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            "form_send";
    }

    .form-wrapper .form-content .form_send {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px;
    }

    .contact-form {
        max-width: 540px;
    }
    
    .form-wrapper .form-content .swiper-images { 
        display: none;
    }
}

@media (max-width: 768px) {
    .competition .competition_wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 0;
        grid-template-areas:
            "competition_info"
            "competition_media";
    }

    .competition .competition_wrapper .competition_info  {
        padding: 50px 50px 5px 50px;
    }

    .competition .competition_info .competition_title,
    .competition .competition_info .competition_descr {
        max-width: 475px;
    }

    .competition .competition_info .competition_descr {
        font-size: 1.6rem;
        line-height: 24px;
    }

    .competition .competition_merch-img {
        top: unset;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    .form-wrapper {
        padding: 15px;
    }
}

/* @media (max-width: 640px) {
    .contact-form__button {
        margin-top: 134px;
    }
} */

@media (max-width: 560px) {
    .competition .competition_wrapper .competition_info  {
        padding: 30px 30px 5px 30px;
    }

    .competition .competition_info .competition_title {
        font-size: 4rem;
        line-height: 40px;
    }
}

@media (max-width: 440px) {
    .form-wrapper .form_close  {
        top: 20px;
        right: 20px;
    }

    .form-wrapper .form-content .form_send {
        padding: 40px 20px;
    }

    .contact-form__text {
        font-size: 1.4rem;
        line-height: 21px;
    }

    .contact-form__button {
        width: 100%;
    }
}
