@import '../style/fonts.css';

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'MoscowSans', sans-serif;
    color: white;
}

.container {
    width: 100%;
    max-width: 1280px;
    padding: 0 5px;
    margin: 0 auto;
}

.container__content {
    width: 100%;
    padding: 0 5px;
    margin: 0 60px;
}