@import '../../node_modules/reset-css/reset.css';
@import '../style/fonts.css';

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'MoscowSans', sans-serif;
    color: white;
}

.container {
    /*width: 100%;*/
    /*max-width: 1280px;*/
    padding: 0 5px;
    margin: 0 60px;
}

.container__content {
    /*width: 100%;*/
    padding: 0 5px;
    margin: 0 30px;
}

.my-stats canvas {
    width: 100px !important;
    height: 50px !important;
}

/*#ar-permission-overlay {*/
/*    background-color: rgba(0, 0, 0, 0.8) !important;*/
/*    border: 1px solid white !important;*/
/*    color: white !important;*/
/*}*/