@media (max-width: 835px) {
    .container {
        margin: 0 40px;
    }

    .container__content {
        margin: 0 10px;
    }

    .header .header__info {
        justify-content: flex-end;
    }

    .header .header__info-descr {
        display: none;
    }

    .tech_spec .tech_spec__wrapper {
        margin-top: 50px;
    }

    .tech_spec .tech_spec__description {
        max-width: 500px;
    }
    .tech_spec .tech_spec__description .tech_spec__visible .tech_spec__mission {
        margin-bottom: 16px;
    }

    .tech_spec .tech_spec__description .tech_spec__visible .tech_spec__outfit .tech_spec__outfit-list .tech_spec__outfit-item {
        margin-bottom: 18px;
    }

    .tech_spec .tech_spec__description .tech_spec__visible .tech_spec__outfit {
        margin-bottom: 6px;
    }

    .tech_spec .tech_spec__description .tech_spec__visible .tech_spec__text {
        font-size: 20px;
    }

    .tech_spec .tech_spec__interior {
        margin-top: 70px;
        margin-right: 50px;
        max-width: 110px;
        height: 70px;
    }

    .tech_spec .tech_spec__interior .tech_spec__interior-btn {
        position: absolute;
        top: 75px;
        left: 0;
    }

    .tech_spec .tech_spec__interior .tech_spec__interior-btn .arrow-wrapper {
        border: 1px solid #FFF;
    }
}

/*@media (max-width: 600px) {*/
/*    .tech_spec .tech_spec__interior {*/
/*        top: 238px;*/
/*        margin: 0;*/
/*        left: 50px;*/
/*    }*/
/*}*/

@media (max-width: 576px) {
    .container {
        margin: 0 20px;
        padding: 0;
    }

    .container__content {
        margin: 0;
        padding: 0;
    }

    .header .header__wrapper {
        height: 60px;
    }

    .tech_spec .tech_spec__wrapper {
        margin-top: 0;
        width: 100%;
    }

    .tech_spec .tech_spec__description {
        padding: 20px;
    }

    .tech_spec .tech_spec__description .tech_spec__titles .tech_spec__title {
        font-size: 24px;
    }

    .tech_spec .tech_spec__description .tech_spec__titles .tech_spec__subtitle {
        font-size: 16px;
    }

    .tech_spec .tech_spec__description .tech_spec__visible .tech_spec__text {
        font-size: 16px;
    }

    .tech_spec .tech_spec__description .tech_spec__visible .tech_spec__text-descr {
        font-size: 14px;
    }

    .tech_spec .tech_spec__description .tech_spec__visible .tech_spec__outfit .tech_spec__outfit-list .tech_spec__outfit-item {
        margin-bottom: 0;
    }

    .tech_spec .tech_spec__description .tech_spec__visible .tech_spec__outfit {
        margin-bottom: 24px;
    }

    .tech_spec .tech_spec__interior {
        max-width: 80px;
        height: 50px;
        margin: 0;
        top: 822px;
        left: 20px;
    }

    .tech_spec .tech_spec__interior .tech_spec__interior-btn {
        top: 54px;
    }

    .auto_park .container {
        margin: 0;
    }
}

@media (max-width: 380px) {
    .header .header__logo {
        max-width: 138px;
    }

    .header .header__logo .header__logo-text {
        font-size: 15px;
    }
}

@media screen and (min-width:320px) and (max-width:845px) and (orientation:landscape) {
    .container {
        margin: 0 15px;
    }

    .container__content {
        margin: 0;
        padding: 0;
    }

    .header .header__wrapper {
        height: 60px;
    }

    .tech_spec .tech_spec__description {
        max-width: none;
    }

    .tech_spec .tech_spec__description .tech_spec__info-wrapper {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }

    .tech_spec .tech_spec__description .tech_spec__btn {
        /*position: absolute;*/
        /*bottom: 30px;*/
        width: fit-content;
    }

    .tech_spec .tech_spec__description .tech_spec__titles {
        /*height: 210px;*/
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .tech_spec .tech_spec__description .tech_spec__titles .tech_spec__title {
        font-size: 24px;
    }

    /*.tech_spec .tech_spec__description .tech_spec__titles .tech_spec__subtitle {*/
    /*    margin-bottom: 24px;*/
    /*}*/

    .tech_spec .tech_spec__description .tech_spec__visible .tech_spec__mission {
        max-width: 313px;
        /*margin-bottom: 40px;*/
        position: absolute;
        top: 100px;
        left: 30px;
    }

    .tech_spec .tech_spec__description .tech_spec__visible .tech_spec__outfit {
        max-width: 440px;
        margin-left: 74px;
    }

    .tech_spec .tech_spec__titles .tech_spec__subtitle, .tech_spec .tech_spec__visible .tech_spec__mission .tech_spec__text, .tech_spec .tech_spec__visible .tech_spec__outfit .tech_spec__text {
        font-size: 16px;
    }

    .tech_spec .tech_spec__visible .tech_spec__mission .tech_spec__text-descr {
        font-size: 14px;
    }

    .tech_spec .tech_spec__visible .tech_spec__outfit .tech_spec__outfit-text {
        font-size: 10px;
    }

    .tech_spec .tech_spec__visible .tech_spec__outfit .tech_spec__outfit-list {
        margin: 0;
    }

    .tech_spec .tech_spec__visible .tech_spec__outfit .tech_spec__outfit-item {
        margin-bottom: 0;
    }

    .tech_spec .tech_spec__interior {
        max-width: 80px;
        height: 50px;
    }

    .tech_spec .tech_spec__interior {
        padding: 0;
    }

    .tech_spec .tech_spec__interior .tech_spec__interior-btn {
        position: absolute;
        top: 54px;
    }
}