@import '../../../node_modules/reset-css/reset.css';
@import '../../style/fonts.css';


/*магия уголков*/
/*header*/
/*main*/
/*traffic_patrol*/
/*situation_centre*/
/*help_desk*/
/*footer*/



* {
    box-sizing: border-box;
}

html.main {
    font-size: 62.5%;
}

body.main {
    font-family: 'MoscowSans', sans-serif;
    background-color: #000000;
    color: white;
    overflow: auto;
}

.container_main {
    width: 100%;
    max-width: 1380px;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.line {
    padding: 0 20px 0 20px;
}



/*магия уголков начата*/

section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"],
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_skills div[class^="skill-"],
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_control,
footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 a[class^="contacts-"],
footer.footer_main .footer_main_grid-wrapper .footer-media-4 a[class^="media-"] {
    display: inline-block;
    width: 100%;
    position: relative;
    border: 2px solid #545454;
    transition: all .3s ease;
}

footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 a[class^="contacts-"],
footer.footer_main .footer_main_grid-wrapper .footer-media-4 a[class^="media-"],
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_control {
    cursor: pointer;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"] .skill_content,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_skills div[class^="skill-"] .skill_content,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_control img,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_control p,
footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 a[class^="contacts-"] img,
footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 a[class^="contacts-"] p,
footer.footer_main .footer_main_grid-wrapper .footer-media-4 a[class^="media-"] img {
    position: relative;
    z-index: 2;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"]:before,
section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"]:after,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_skills div[class^="skill-"]:before,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_skills div[class^="skill-"]:after,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_control:before,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_control:after,
footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 a[class^="contacts-"]:before,
footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 a[class^="contacts-"]:after,
footer.footer_main .footer_main_grid-wrapper .footer-media-4 a[class^="media-"]:before,
footer.footer_main .footer_main_grid-wrapper .footer-media-4 a[class^="media-"]:after {
    content: "";
    z-index: -1;
    display: block;
    position: absolute;
    background: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"]:before,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_skills div[class^="skill-"]:before,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_control:before,
footer.footer_main .footer_main_grid-wrapper .footer-media-4 a[class^="media-"]:before,
footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 a[class^="contacts-"]:before {
    width: calc(100% + 6px);
    height: 90%;
    z-index: 1;
    transition: height 0.6s;
}

section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_control:before {
    width: calc(100% + 5px);
    height: 82%;
    z-index: 1;
    transition: height 0.6s;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"]:after,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_skills div[class^="skill-"]:after,
footer.footer_main .footer_main_grid-wrapper .footer-media-4 a[class^="media-"]:after {
    height: calc(100% + 5px);
    width: 90%;
    z-index: 0;
    transition: width 0.7s;
}

section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_control:after {
    height: calc(100% + 5px);
    width: 98%;
    z-index: 0;
    transition: width 0.7s;
}

footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 a[class^="contacts-"]:after {
    height: calc(100% + 6px);
    width: 96.2%;
    z-index: 0;
    transition: width 0.7s;
}

/*section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"]:hover:before,*/
/*section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"]:focus:before {*/
/*    height: 50%;*/
/*}*/

/*section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"]:hover:after,*/
/*section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"]:focus:after {*/
/*    width: 74%;*/
/*}*/

/*магия уголков закончена*/



/*header*/

.header_main {
    height: 80px;
    padding: 0 20px;
}

.header_main .header__wrapper, .header_main .header__logo, .header_main .header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_main .header__wrapper {
    padding: 24px 0;
}

.header_main .header__logo,
footer.footer_main .footer_main_grid-wrapper .footer-title-1 .header__logo {
    max-width: 170px;
    width: 100%;
}

.header_main .header__logo-text,
footer.footer_main .footer_main_grid-wrapper .footer-title-1 .header__logo-text {
    font-family: 'MoscowSans', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    margin-left: 12px;
    color: white;
}

.header_main .header__menu .burger-menu {
    margin: 0 auto;
    width: 40px;
    padding: 8px 0;
    display: block;
    transition: all 0.3s;
    cursor: pointer;
    height: 40px;
}

.header_main .header__menu .burger-menu .bar {
    transition: all 0.3s;
    height: 2px;
    width: 50%;
    display: block;
    background-color: white;
}

.header_main .header__menu .burger-menu .bar:nth-of-type(2) {
    margin: 8px 0;
}

.header_main .header__menu .burger-menu--closed {
    transition-delay: 0.3s;
}

.header_main .header__menu .burger-menu--closed .bar {
    float: right;
}

.header_main .header__menu .burger-menu--closed .bar:nth-of-type(2) {
    width: 100%;
    transition-property: margin, height, width;
    transition-delay: 0.3s, 0.3s, 0s;
}

.header_main .header__menu .burger-menu--closed .bar:nth-of-type(3) {
    width: 50%;
    float: left;
}

.header_main .header__menu .burger-menu--closed:hover .bar:nth-of-type(1) {
    width: 100%;
}

.header_main .header__menu .burger-menu--closed:hover .bar:nth-of-type(3) {
    width: 100%;
}

.header_main .header__menu .burger-menu--opened {
    padding-top: 18px;
}

.header_main .header__menu .burger-menu--opened .bar:nth-of-type(1) {
    transform: rotate(45deg);
    transition-delay: 0.3s;
    height: 2px;
}

.header_main .header__menu .burger-menu--opened .bar:nth-of-type(2) {
    opacity: 0;
    height: 0;
    margin: -3px;
}

.header_main .header__menu .burger-menu--opened .bar:nth-of-type(3) {
    transform: rotate(-45deg);
    transition-delay: 0.3s;
    height: 2px;
}



/* main */

section.main {
    padding: 60px 20px 0 20px;
    height: 100vh;
}

section.main .container_main {
    border: none;
}

section.main .main_bg {
    padding-bottom: 233px;
    background: url("../../img/layout/pages/main/main_bg.jpg") no-repeat bottom center/cover;
}

section.main .main_title {
    text-transform: uppercase;
    font-family: 'MoscowSans', sans-serif;
    font-size: 8rem;
    font-weight: 600;
    line-height: 72px;
    margin-bottom: 24px;
}

section.main .main_title span:nth-child(1) {
    display: inline-block;
    text-align: end;
    width: 100%;
}

section.main .main_title span:nth-child(2) {
    display: inline-block;
    width: 100%;
    text-align: center;
}

section.main .main_title span.large_letter {
    display: inline-block;
    padding: 19px;
    border: 10px solid white;
    max-width: 350px;
    width: 100%;
    border-radius: 50px;
}

section.main .main_info-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

section.main .main_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    grid-column: 3/5;
}

section.main .main_info .main_info-descr {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 24px;
}

section.main .main_info .main_info-descr .main_info-text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 18px;
}

section.main .main_info .main_info-descr .main_info-text:first-child {
    max-width: 240px;
}

section.main .main_info .main_info-descr .main_info-text:last-child {
    max-width: 260px;
}

section.main .main_info .main_info-link {
    cursor: pointer;
    display: inline-block;
    padding-top: 15px;
    text-align: center;
    max-width: 541px;
    width: 100%;
    height: 52px;
    text-decoration: none;
    border: 6px solid white;
    border-radius: 50px;
    font-family: 'MoscowSans', sans-serif;
    color: #FFFFFF;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 12px;
    text-transform: uppercase;
    transition: all .4s;
}

section.main .main_info .main_info-link:hover {
    background-color: #FFFFFF;
    color: #090909;
}



/*traffic_patrol*/

section.traffic_patrol {
    padding: 60px 20px 0 20px;
}

section.traffic_patrol .container_main {
    padding-bottom: 120px;
}

section.traffic_patrol .traffic_patrol_grid-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 144px 144px 0 444px;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "traffic_patrol-1 traffic_patrol-1 traffic_patrol-text-2 traffic_patrol-text-3 traffic_patrol-text-3"
        "slider_button-wrapper . traffic_patrol-text-4 traffic_patrol-text-5 ."
        ". . . . ."
        "traffic_patrol-slide-6 traffic_patrol-slide-6 traffic_patrol-slide-6 traffic_patrol-slide-6 traffic_patrol-slide-6";
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-1 {
    grid-area: traffic_patrol-1;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-text-2 {
    grid-area: traffic_patrol-text-2;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-text-3 {
    grid-area: traffic_patrol-text-3;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-text-4 {
    grid-area: traffic_patrol-text-4;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-text-5 {
    grid-area: traffic_patrol-text-5;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-slide-6 {
    grid-area: traffic_patrol-slide-6;
    overflow: hidden;
}

section.traffic_patrol .traffic_patrol-slide-6 .swiper-pagination {
    display: none;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-no-slide-7 {
    grid-area: traffic_patrol-no-slide-7;
    display: none;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-text-mobile-1 {
    grid-area: traffic_patrol-text-mobile-1 ;
    display: none;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol-text-mobile-2 {
    grid-area: traffic_patrol-text-mobile-2;
    display: none;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .slider_button-wrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol_slider-buttons {
    position: absolute;
    bottom: -30px;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol_slider-buttons button {
    padding: 0;
    background-color: black;
    border: none;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol_slider-buttons .btn_prev {
    margin-right: 14px;
}

section.traffic_patrol .traffic_patrol-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(5, 1fr);
}

section.traffic_patrol .traffic_patrol-wrapper img {
    display: none;
    width: 600px;
    position: absolute;
    left: 0;
    top: 155px;
}

.title, section.traffic_patrol .traffic_patrol-title {
    grid-column: 1/3;
    font-family: 'MoscowSans', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
}

section.traffic_patrol .traffic_patrol-descr {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column: 3/6;
    gap: 20px;
}

section.traffic_patrol .traffic_patrol-text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
}

section.traffic_patrol .traffic_patrol-descr.one .traffic_patrol-text:nth-child(2) {
    grid-column: 2/4;
}

section.traffic_patrol .traffic_patrol-descr.two {
    margin-bottom: 20px;
}

section.traffic_patrol .traffic_patrol_grid-wrapper .traffic_patrol_slider-wrapper {
    width: 100%;
    height: 100%;
}



/*cards start*/

section.traffic_patrol .traffic_patrol_slider .garage_model_card {
    max-width: 540px;
}

.garage_model_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid white;
    width: 100%;
    height: 100%;
}

.garage_model_card .slid_img {
    max-width: 540px;
    width: 100%;
    height: 444px;
    border-radius: 10px;
    background: #090909 url("../../img/layout/pages/main/slider/amarok_slide.png") no-repeat bottom center/cover;
}

.garage_model_card .slid_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFFFFF;
    width: 100%;
    border-radius: 0 0 8px 8px;
}

.garage_model_card .slid_info .slid_info-desc .slid_info-title {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 16px;
    color: #090909;
    margin-bottom: 10px;
}

.garage_model_card .slid_info .slid_info-desc .slid_info-text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 13px;
    color: #787878;
}

.garage_model_card .slid_info .slid_info-link {
    align-self: flex-end;
}

/*cards end*/


/*situation_centre*/

section.situation_centre {
    padding: 60px 20px 0 20px;
}

section.situation_centre .container_main {
    padding: 0 0 120px 0;
}

section.situation_centre .situation_centre_grid-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 188px 236px;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
	"situation-1 situation-1 brain_heart-2 brain_heart-2 brain_heart-2"
	". major_events-3 employ-4 slider-5 slider-5"
	". bus-6 man_text-7 slider-5 slider-5";
}

section.situation_centre .situation_centre_grid-wrapper .situation-1 {
    grid-area: situation-1;
}

section.situation_centre .situation_centre_grid-wrapper .situation-1 .situation_centre-title {
    max-width: 290px;
}

section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 {
    grid-area: brain_heart-2;
    position: relative;
    padding: 20px 200px 20px 20px;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
}

section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 .brain_heart-title {
    font-family: 'MoscowSans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 36px;
}

section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 .brain_heart-text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
}

section.situation_centre .situation_centre_grid-wrapper .brain_heart-2 img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

section.situation_centre .situation_centre_grid-wrapper .major_events-3 {
    grid-area: major_events-3;
    padding: 10px;
    border: 1px solid #62A744;
    border-radius: 10px;
}

section.situation_centre .situation_centre_grid-wrapper .major_events-3 .major_events-text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 21px;
}

section.situation_centre .situation_centre_grid-wrapper .employ-4 {
    grid-area: employ-4;
    border-radius: 10px;
}

section.situation_centre .situation_centre_grid-wrapper .slider-5 {
    grid-area: slider-5;
}

section.situation_centre .situation_centre_grid-wrapper .slider-5 .garage_model_card {
    height: 100%;
}

section.situation_centre .situation_centre_grid-wrapper .slider-5 .garage_model_card .slid_img {
    background-position: top;
}

section.situation_centre .situation_centre_grid-wrapper .bus-6 {
    grid-area: bus-6;
    border-radius: 10px;
}

section.situation_centre .situation_centre_grid-wrapper .employ-4 img,
section.situation_centre .situation_centre_grid-wrapper .bus-6 img {
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

section.situation_centre .situation_centre_grid-wrapper .man_text-7 {
    grid-area: man_text-7;
    padding: 10px;
    border: 1px solid #62A744;
    border-radius: 10px;
}

section.situation_centre .situation_centre_grid-wrapper .man_text-7 .man_text-text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 21px;
}

section.situation_centre .situation_centre_grid-wrapper .man_plus_major_events-8 {
    grid-area: man_plus_major_events-8;
    display: none;
    padding: 10px;
    border: 1px solid #62A744;
    border-radius: 10px;
}

section.situation_centre .situation_centre_grid-wrapper .man_plus_major_events-8 .man_plus_major_events-text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 21px;
}

section.situation_centre .situation_centre_grid-wrapper .employ_plus_bus_slider {
    display: none;
}

section.situation_centre .situation_centre_grid-wrapper .employ_plus_bus_slider .situation_centre_slider .situation_centre-card {
    background-color: rgba(24, 24, 24, 0.70);
    border-radius: 10px;
    backdrop-filter: blur(5px);
}

section.situation_centre .situation_centre_grid-wrapper .employ_plus_bus_slider .situation_centre_slider .situation_centre-card .slid_img {
    /*max-width: 335px;*/
    height: 155px;
}

section.situation_centre .situation_centre_grid-wrapper .employ_plus_bus_slider .situation_centre_slider .situation_centre-card .slid_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
}

section.situation_centre .situation_centre_grid-wrapper .employ_plus_bus_slider .situation_centre_slider .situation_centre-card .slid_info {
    padding: 10px 10px 28px 10px;
}

section.situation_centre .situation_centre_grid-wrapper .employ_plus_bus_slider .situation_centre_slider .situation_centre-card .slid_info .slider-text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 18px;
}



/*help_desk*/

section.help_desk {
    padding: 60px 20px 0 20px;
}

section.help_desk .container_main {
    padding: 0 0 120px 0;
}

section.help_desk .help_desk_grid-wrapper .mobile_text_combo {
    display: none;
}

section.help_desk .help_desk_grid-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 234px 352px 0 444px;
    gap: 30px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "help_desk-1 parkon-2 parkon-2 parkon-2 driver-3"
        ". equipment-4 equipment-4 equipment-4 ."
        ". . . . ."
        ". slide-5 slide-5 slide-6 slide-6";
}

section.help_desk .help_desk_grid-wrapper .help_desk-1 {
    grid-area: help_desk-1;
}

section.help_desk .help_desk_grid-wrapper .parkon-2 {
    grid-area: parkon-2;
    padding: 20px 35px 20px 20px;
    border: 1px solid white;
    border-radius: 10px;
}

section.help_desk .help_desk_grid-wrapper .parkon-2 .parkon_title {
    font-family: 'MoscowSans', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 70px;
    max-width: 520px;
}

section.help_desk .help_desk_grid-wrapper .parkon-2 .parkon_text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
}

section.help_desk .help_desk_grid-wrapper .parkon-2 .parkon_descr {
    display: flex;
}

section.help_desk .help_desk_grid-wrapper .parkon-2 .parkon_descr .parkon_text:first-child {
    margin-right: 35px;
}

section.help_desk .help_desk_grid-wrapper .driver-3 {
    grid-area: driver-3;
}

section.help_desk .help_desk_grid-wrapper .driver-3 .driver_text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 29px 151px 151px;
    gap: 10px;
    grid-auto-flow: row;
    grid-template-areas:
        "text text text text text"
        "skill-1 skill-2 skill-3 skill-4 skill-5"
        "skill-6 skill-7 skill-8 skill-9 skill-10";
    grid-area: equipment-4;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 .text {
    grid-area: text;
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
}

section.help_desk .help_desk_grid-wrapper .equipment_mobile {
    grid-area: equipment_mobile;
}

section.help_desk .help_desk_grid-wrapper .equipment_mobile-text {
    grid-area: equipment_mobile-text;
}

section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_control {
    grid-area: equipment_mobile_control;
}

section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_skills {
    grid-area: equipment_mobile_skills;
}

section.help_desk .help_desk_grid-wrapper .equipment_mobile-slide {
    grid-area: equipment_mobile-slide;
}

section.help_desk .help_desk_grid-wrapper .equipment_mobile,
section.help_desk .help_desk_grid-wrapper .equipment_mobile-text,
section.help_desk .help_desk_grid-wrapper .equipment_mobile-slide {
    display: none;
}

section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"] .skill_content,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_skills div[class^="skill-"] .skill_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    width: 100%;
    height: 100%;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"] .skill_content img,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_skills div[class^="skill-"] .skill_content img {
    width: 48px;
    height: 48px;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 div[class^="skill-"] .skill_content .skill_text,
section.help_desk .help_desk_grid-wrapper .equipment_mobile .equipment_mobile_skills div[class^="skill-"] .skill_content .skill_text {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 16px;
    text-align: center;
    width: 126px;
    height: 32px;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 .skill-1 {
    grid-area: skill-1;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 .skill-2 {
    grid-area: skill-2;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 .skill-3 {
    grid-area: skill-3;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 .skill-4 {
    grid-area: skill-4;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 .skill-5 {
    grid-area: skill-5;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 .skill-6 {
    grid-area: skill-6;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 .skill-7 {
    grid-area: skill-7;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 .skill-8 {
    grid-area: skill-8;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 .skill-9 {
    grid-area: skill-9;
}

section.help_desk .help_desk_grid-wrapper .equipment-4 .skill-10 {
    grid-area: skill-10;
}

section.help_desk .help_desk_grid-wrapper .slide-5 {
    grid-area: slide-5;
}

section.help_desk .help_desk_grid-wrapper .slide-6 {
    grid-area: slide-6;
}




/*footer*/

/*footer.footer_main {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    height: 300px;*/
/*}*/

/*footer.footer_main .footer_title {*/
/*    color: #FFF;*/
/*    font-family: 'MoscowSans', sans-serif;*/
/*    font-size: 3.2rem;*/
/*    font-weight: 700;*/
/*    line-height: 32px;*/
/*    text-transform: uppercase;*/
/*}*/

footer.footer_main {
    padding: 50px 0 60px 0;
}

footer.footer_main .container_main {
    border: none;
    padding: 0 20px;
}


footer.footer_main .footer_main_grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "footer-title-1 . footer-menu-2 . footer-contacts-3"
        ". . footer-menu-2 . footer-contacts-3"
        "footer-media-4 . footer-menu-2 . footer-contacts-3";
}

footer.footer_main .footer_main_grid-wrapper .footer-title-1 {
    grid-area: footer-title-1;
}

footer.footer_main .footer_main_grid-wrapper .footer-menu-2 {
    grid-area: footer-menu-2;
}

footer.footer_main .footer_main_grid-wrapper .footer-menu-2 .footer-menu-title {
    margin-bottom: 34px;
    font-family: 'MoscowSans', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    line-height: 30px;
}

footer.footer_main .footer_main_grid-wrapper .footer-menu-2 .footer-menu-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

footer.footer_main .footer_main_grid-wrapper .footer-menu-2 .footer-menu-links .footer-menu-link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 24px;
}

footer.footer_main .footer_main_grid-wrapper .footer-menu-2 .footer-menu-links .footer-menu-link:not(:last-child) {
    margin-bottom: 16px;
}

footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 12px;
    grid-auto-flow: row;
    grid-template-areas:
        "contacts-1"
        "contacts-2"
        "contacts-3";
    grid-area: footer-contacts-3;
}

footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 .contacts-1 {
    grid-area: contacts-1;
}

footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 .contacts-2 {
    grid-area: contacts-2;
}

footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 .contacts-3 {
    grid-area: contacts-3;
}

footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 a[class^="contacts-"] {
    display: flex;
    align-items: center;
    padding: 28px 30px;
    text-decoration: none;
    /*justify-content: space-between;*/
}

footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 a[class^="contacts-"] img {
    margin-right: 4px;
}

footer.footer_main .footer_main_grid-wrapper .footer-contacts-3 a[class^="contacts-"] p {
    font-family: 'MoscowSans', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 24px;
    color: #FFFFFF;
}

footer.footer_main .footer_main_grid-wrapper .footer-media-4 {
    grid-area: footer-media-4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer.footer_main .footer_main_grid-wrapper .footer-media-4 .media-wrapper {
    padding: 28px;
    transition: all .4s;
}

footer.footer_main .footer_main_grid-wrapper .footer-media-4 .media-wrapper:hover {
    background-color: rgba(255, 255, 255, 0.10);
}

footer.footer_main .footer_main_grid-wrapper .footer-media-4 .media-wrapper:not(:last-child) {
    margin-right: 10px;
}

footer.footer_main .footer_main_grid-wrapper .footer-title-1 .header__logo {
    display: flex;
    align-items: center;
}




























